<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <service
            android:name="dev.dev7.lib.v2ray.services.V2rayProxyOnlyService"
            android:exported="false"
            android:process=":RunSoLibV2RayDaemon" />

        <service
            android:name="dev.dev7.lib.v2ray.services.V2rayVPNService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":RunSoLibV2RayDaemon">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>

    </application>

</manifest>
